#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#board {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  height: 100px;
  width: 100px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

form {
  visibility: hidden;
}

.form-row3 {
  display: flex;
  justify-content: center;
}
